<ion-header >
  <ion-toolbar >
    <ion-item lines="none">
      <ion-title>Cobro de pedidos</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="menu"></ion-back-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>  
</ion-header>


  <ion-content>
<!-- TOTALES -->
    <ion-card *ngIf="objetoDatosCobro">
      <ion-item lines="none">
        <p><b>Total del Pedido</b></p>
        <p slot="end">${{objetoDatosCobro.total}}</p>
      </ion-item>
      <ion-item lines="full">
        <p><b>Resta por pagar</b></p>
      <p slot="end">${{objetoDatosCobro.total_restante}}</p>
      </ion-item>
    </ion-card>

 <!-- DATOS GENERALES    -->
    <ion-card *ngFor="let cobro of objListaCobroVendedor">
      <ion-item lines="full">
        <p>Fecha de cobro <br> 
          {{cobro.fechaCobro | date:'dd/MM/yyyy'}}</p> 
          <!-- <p slot="end">No. Cobro <br>|#{{objetoDatosCobro.idPedido}} </p> -->
      </ion-item>
      <ion-item lines="none">
        <p>Cantidad</p>
        <p slot="end"> <b>{{cobro.cantidad}}</b></p>
      </ion-item>
      <ion-item lines="none">
        <p>Forma de Pago</p>
        <p slot="end">{{cobro.nombre_forma}}</p>
      </ion-item>
      <ion-item lines="full">
        <p>Autorizador por</p>
        <p slot="end">{{cobro.nombre}}</p>
      </ion-item>
    </ion-card>
  
  </ion-content>
  