<ion-header >
  <ion-toolbar >
    <ion-item lines="none">
      <ion-title>Alta de pedidos</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="menu"></ion-back-button>
      </ion-buttons>
    <div class="iconocarrito">
      <ion-button color="mycolor" id="open-modal">
        <!-- <ion-badge color="none"></ion-badge> -->
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </div>
    </ion-item>
  </ion-toolbar>  
</ion-header>
<ion-content>

  <form [formGroup]="formRegistroPedidos" > 
    <ion-card>
      <!-- <div *ngIf="bloqueaCliente == 0">   
        <ion-item color="none" lines="none" class="ion-no-border" >
          <ion-label position="stacked">Nombre de cliente</ion-label>       
          <ion-select  formControlName="cliente" interface="popover" placeholder="Seleccione el cliente"  [disabled]="isDisableName" (ionChange)="obtenerLineas(); validaClientePedidosVencidos(); desabilitarNombre()">
          <ion-select-option *ngFor="let clien of clientes" value="{{clien.getIdCliente.toString()}}">
          {{ clien.getNombreCliente }}
          </ion-select-option>
          </ion-select>
          <ion-note color="danger" *ngIf="formRegistroPedidos.controls['cliente'].hasError('required')">Este campo es obligatorio</ion-note>
        </ion-item>
      </div>  -->
  
 
<div class="ion-padding" *ngIf="bloqueaCliente == 0">
    <ion-label position="floating">Nombre de cliente</ion-label>
    <ion-input #input [disabled]="isDisableName" (ionInput)="inputChanged($event)" type="text" placeholder="Escribe el nombre de cliente"></ion-input>
    <ion-list [hidden]="itemsName.length<=0">
      <ion-item  (click)="seleccionado(clien, input); desabilitarNombre()" *ngFor="let clien of clientes" color="none" lines="none">
        {{clien.getNombreCliente}}
      </ion-item>
    </ion-list>
    <ion-note color="danger" *ngIf="formRegistroPedidos.controls['cliente'].hasError('required')">Este campo es obligatorio</ion-note>
</div>    



 <div *ngIf="bloqueaCliente == 0">   
    <ion-list>
      <ion-item color="none" lines="none" class="ion-no-border">
        <ion-label position="stacked">Tipo de pago</ion-label>
        <ion-select (ionChange)="tipoPagos($event)" formControlName="tipoPago"  interface="popover" placeholder="Seleccione tipo de pago" ngModel required>
          <ion-select-option  value="1">
            Crédito
          </ion-select-option>
          <ion-select-option  value="2">
            Contado
          </ion-select-option>
        </ion-select>
        <ion-note color="danger" *ngIf="formRegistroPedidos.controls['tipoPago'].hasError('required')">Este campo es obligatorio</ion-note>
      </ion-item>
    </ion-list>
  </div>  
</ion-card>


  <!-- <div class="calendario" >
    <ion-card color="none" lines="none" *ngIf="tipo_pago_venta > 0" >
      <ion-item color="none" lines="none" class="ion-text-center">
        <ion-datetime formControlName ="fechaLimite" presentation="date" [preferWheel]="false"></ion-datetime>
      </ion-item>  
    </ion-card>
  </div> -->

  <ion-card *ngIf="tipo_pago_venta > 0" >
    <ion-label >Fecha limite <ion-icon class="iconocarrito" name="calendar-outline"></ion-icon> </ion-label>
    <ion-input  id="date" readonly="true"> {{this.formRegistroPedidos.controls['fechaLimite'].value}} </ion-input>
    <ion-popover trigger="date" size="cover">
      <ng-template>
        <ion-datetime [showDefaultButtons]="false"
          presentation="date" 
          [preferWheel]="false"
          formControlName="fechaLimite"
          >
        </ion-datetime>
      </ng-template>
    </ion-popover>
   </ion-card>

    <ion-card>
      <ion-item color="none" lines="none" class="ion-no-border">
        <ion-label position="stacked">Lineas</ion-label>
          <ion-select interface="popover" placeholder="Seleccione la linea" formControlName="linea" (ionChange)="obtenerProductos('');">
        <ion-select-option *ngFor="let lineas of lineas" [value]="lineas.idLinea">
          {{ lineas.nombreLinea }}
        </ion-select-option>
      </ion-select>
      </ion-item>
      
    
<!-- PRODUCTO -->
<div class="ion-padding">

        <ion-label position="floating">Nombre de producto</ion-label>
        <ion-input #input (ionInput)="inputChangedProducto($event)" type="text" placeholder="Escribe el nombre de producto"></ion-input>
        <ion-list [hidden]="itemsProduct.length<=0">
          <ion-item (click)="seleccionadoProducto(prod, input)" *ngFor="let prod of productos" color="none" lines="none">
            {{prod.getNombreProductos}}
          </ion-item>
        </ion-list>
</div>
       <!-- <ion-item color="none" lines="none" class="ion-no-border">
        <ion-label position="stacked">Producto</ion-label>
          <ion-select interface="popover" placeholder="Seleccione el producto" formControlName="productos" (ionChange)="traerTodosLosDatosProducto()">
        <ion-select-option *ngFor="let prod of productos" [value]="prod">
          {{ prod.getNombreProductos }}
        </ion-select-option>
      </ion-select>
      </ion-item> 
       -->
      
      
      
      <ion-item color="none" lines="none" class="ion-no-border">
        <ion-label position="stacked" >Cantidad</ion-label>
        <ion-input type="number"  placeholder="Digite la cantidad de productos" formControlName="cantidadProducto" (ionChange)="calcularTotal()"></ion-input>
      </ion-item>
      <ion-item color="none" lines="none" class="ion-no-border" *ngIf="this.clientePedidosVencidos==0">
        <ion-label position="stacked">Porcentaje descuento sin %</ion-label>
        <ion-input type="number"  placeholder="Digite el descuento" formControlName="descuento" (ionChange)="calcularTotal()"></ion-input>
      </ion-item>   
      <ion-item color="none" lines="none" class="ion-no-border">
        <ion-label  position="stacked">Stock asesor comercial</ion-label>
        <ion-input [disabled]="true">{{this.formRegistroPedidos.controls['stockSubdistribuidor'].value}}</ion-input>
      </ion-item>    
      <ion-item color="none" lines="none" class="ion-no-border">
        <ion-label  position="stacked">Precio Unitario</ion-label>
        <ion-input [disabled]="true">${{this.formRegistroPedidos.controls['precioProducto'].value}}</ion-input>
      </ion-item>
      <ion-item color="none" lines="none" class="ion-no-border">
        <ion-label  position="stacked">Importe</ion-label>
        <ion-input [disabled]="true">${{this.formRegistroPedidos.controls['cantidadImporte'].value}}</ion-input>
      </ion-item>
      <div class="calendario">
        <ion-button color="mycolor" size="default" (click)="armaTablaProductos(); alertaProductoAgregado()">Agregar producto</ion-button>
      </div>
    </ion-card>

<!-- DESCUENTO GENERAL-->

    <ion-card *ngIf="this.clientePedidosVencidos==0">
      <ion-item color="none" lines="none" class="ion-no-border">
        <ion-label position="stacked">Porcentaje descuento general en pedido sin %</ion-label>
        <ion-input type="number" placeholder="Digite el descuento" formControlName="descuentoGeneral"></ion-input>
      </ion-item> 
      <div class="calendario">
        <ion-button color="mycolor" size="default" (click)="alertaDescuento(); aplicarDescuentoAdicionalAProductos()">Aplicar descuento</ion-button>
      </div>      
    </ion-card>

<div class="calendario">
    <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Carrito de compras</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Volver</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>

          
 <!-- LISTA DE PEDIDOS          -->
          <ion-card *ngFor="let product of productosLista;" >
          <ion-list>
            <ion-item color="none" class="ion-no-border" lines="none">
              <ion-label>
                <h2><b>{{product.nomProducto}}</b></h2>
                <p>Cantidad: {{product.cantidadProducto}}</p>
                <p>Dto.: ${{product.descuento}} P.U: ${{product.precioProducto}} Imp.: ${{product.totalProducto}}</p>
              </ion-label>
              <ion-icon name="trash-bin" (click)="eliminaProductoTabla(product)"></ion-icon>
            </ion-item>
          </ion-list>
         </ion-card> 
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>


<!-- CANTIDAD A PAGAR GENERAL -->
<h5>Cantidad a pagar</h5>
  <ion-card>
    <ion-item color="none" lines="none" class="ion-no-border">
      <ion-label  position="stacked">Total sin descuento</ion-label>
      <ion-input [disabled]="true">${{this.formRegistroPedidos.controls['importeParcial'].value}}</ion-input>
    </ion-item>
    <ion-item color="none" lines="none" class="ion-no-border">
      <ion-label  position="stacked">Descuento total</ion-label>
      <ion-input [disabled]="true">${{this.formRegistroPedidos.controls['descuentoTotal'].value}}</ion-input>
    </ion-item>
    <ion-item color="none" lines="none" class="ion-no-border">
      <ion-label  position="stacked">Total</ion-label>
      <ion-input [disabled]="true">${{this.formRegistroPedidos.controls['totalDefinitivo'].value}}</ion-input>
    </ion-item>
  </ion-card>
  <div class="bottonOkay">
    <ion-button color="mycolor" type="submit" expand="block" (click)="(formRegistroPedidos.valid) ? registrar(formRegistroPedidos.value): null">
      Guardar</ion-button>
  </div>
</form>
</ion-content>
