<ion-header >
  <ion-toolbar >
    <ion-item lines="none">
      <ion-title>Detalle pedido</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="menu"></ion-back-button>
      </ion-buttons>
      <div *ngIf="this.tipoEstado==='1'">
    <div class="iconocarrito" *ngIf="objetoDatosPedido">
      <ion-button color="mycolor" [routerLink]="['/levantar-pedido/'+2+'/'+objetoDatosPedido.idPedido]" routerLinkActive="router-link-active">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
    </div>
  </div>
    </ion-item>
  </ion-toolbar>  
</ion-header>

<!-- CANTIDAD A PAGAR -->

<ion-content >
  <ion-item color="none" lines="none" > 
    <h5><b>Cantidad a pagar</b></h5>
  </ion-item>
  <ion-card *ngIf="objetoDatosPedido">
    <ion-item color="none" lines="none" class="ion-no-margin">
      <ion-label>No. Pedido</ion-label>
      <ion-badge color="mycolor">{{pedido}}</ion-badge>
    </ion-item>
    <ion-item  lines="full">
      <h6>{{objetoDatosPedido.fecha | date:'dd/MM/yyyy'}}</h6> 
    </ion-item>
    
    <ion-item lines="none">
      <p> 
        Total sin descuento: <br> 
        (Paquete-producto) </p><br>
        <p slot="end">${{objetoDatosPedido.totalSinDescuento}}</p>
    </ion-item>
    <ion-item lines="full">
      <p>Descuento total <br>
      Producto</p>
      <p slot="end">$44.50</p>
    </ion-item>
    <ion-item lines="none">
      <p><b>Total Final</b></p><br>
      <p slot="end">${{objetoDatosPedido.total}}</p>
    </ion-item>

  </ion-card>

<!-- INFORMACIÓN DEL PEDIDO -->

  <ion-item color="none" lines="none" > 
    <h5><b>Información del Pedido</b></h5>
  </ion-item>
  <div>
    <ion-card *ngFor="let productos of objListaProductos">
      <ion-item  lines="full">
        <ion-grid>
          <p><b><u>{{productos.nombreProducto}}</u></b></p>
          <ion-row class="ion-text-center ion-no-padding">
            <ion-col>
              <b>Unidad:</b> 
              <br><b>{{productos.cantidadProducto}}</b>
            </ion-col>
            <ion-col>
              Descuento
              <br>
              <br>${{productos.descuento}} 
            </ion-col>
            <ion-col>
              P.Unitario
              <br>
              <br>${{productos.precioUnitario}}
            </ion-col>
            <ion-col>
              Importe
              <br>
              <br>${{productos.importeTotal}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>      
    </ion-card>
  
  </div>    

</ion-content>
